@mixin Transform-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin Transform-middle-2{
    justify-content: center;
    align-items: center;
    display: flex;
}
body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
header{
    // background-color: #0e0e0e;
    height: 100%;
    width: 100%;
}
.section1{
    background-color: #0e0e0e;
    height: 100vh;
    width: 100%;
}