 // Cursor
.cursor, .follow{
    position: absolute;
    pointer-events: none;
    width: 0.4rem;
    height: 0.4rem;
    transform: translate(-50%, -50%);
    z-index: 100000;
}
.cursor{
    background-color: white;
    border-radius: 50%;
    mix-blend-mode: difference;
}
h1:hover .cursor{
  width: 100px;
}

.cursor::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}


// navigation
nav{
  position: fixed;
  z-index: 1000;
  .nav-menu{
    position: fixed;
    // width: 250px;
    background-color: #1b1b1b;
    right: -100%;
    height: 100%;
    padding: 5vmin 15vmin 0vmin 10vmin;
    transition: 0.4s;
    .nav-item{
      margin: 5vmin;
      a{
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 10vmin;
        position: relative;
        transform: translateX(0);
        transition: 0.2s;
        &:hover{
          text-decoration: none;
          transform: translateX(5%);
          color: #d90d4f;
        }
      }
    }
  }
  .open{
    // width: 500px;
    right: 0;
  }
  .navigation{
    div{
      position: fixed;
      right: 0;
      .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform: scale(0.7);
      }
      .hamRotate.active {
        transform: rotate(45deg);
      }
      .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:white;
        stroke-width:5.5;
        stroke-linecap:round;
      }
      .ham6 .top {
        stroke-dasharray: 40 172;
      }
      .ham6 .middle {
        stroke-dasharray: 40 111;
      }
      .ham6 .bottom {
        stroke-dasharray: 40 172;
      }
      .ham6.active .top {
        stroke-dashoffset: -132px;
      }
      .ham6.active .middle {
        stroke-dashoffset: -71px;
      }
      .ham6.active .bottom {
        stroke-dashoffset: -132px;
      }
      
    }
  }
}



// footer
// ===========
footer{
  // height: 100vh;
  font-family: 'Poppins', sans-serif;
  .connect-section{
      background-image: linear-gradient(90deg, #0F2027, #203A43, #203A43);
      .container{
          padding: 20vmin 0;
          color: white;
          width: 100%;
          h1{
              font-weight: 900;
              font-size: 15vmin;
              padding-bottom: 20px
          }
          .footer-a{
              color: white;
              background-color: none;
              padding: 2vmin 3vmin;
              border: 2px solid white;
              border-radius: 5px;
              font-weight: 500;
              font-size: 3vmin;
              transition: 0.3s;
              &:hover{
                  background-color: white;
                  color: #203A43;
                  text-decoration: none;
              }
          }
      }
  }
  .social-media-section{
      background-color: #0e0e0e;
      padding: 8vmin;
      .icon-group{
          padding: 2vmin 0;
          a{
              color: white;
              i{
                  height: 50px;
                  width: 50px;
                  line-height: 50px;
                  background-color: none;
                  border: 2px solid white;
                  border-radius: 25px;
                  transition: 0.3s;
                  &:hover{
                      background-color: white;
                      color: #0e0e0e;
                  }
              }
          }
      }
  }
}